adjustText==0.7.3
bs4==0.0.1
beautifulsoup4==4.9.1
football-packing==0.2
highlight-text==0.2
kloppy==1.5.2
lxml==4.8.0
matplotlib==3.5.1
mplsoccer==1.0.2
numpy==1.22.3
pandas==1.4.1
pathlib2==2.3.5
pywaffle==0.6.1
scikit-learn==1.0.2
seaborn==0.10.1
selenium==4.3.0
socceraction==1.2.2
soccerdata==1.0.4
soccerplots==1.0.0
ScraperFC==2.6.1
statsmodels==0.11.1
tables==3.6.1
urllib3==1.26.11
requests==2.28.1
